html
	head
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" )
	body
		h1 Hello #{name}
		
		a(href="users") Users

	img(src="/images/71a02fc1871fc94a589c3528625c980d.jpg" width="400px" height="300px")
